  .parent-container {
    position: relative;
  }
  
  .heading-card-container {
        display: flex;
        width: 100%;
        height: 35vh;
        background-color: #003145;
        font-family: 'Poppins', sans-serif;
        font-style: normal;

        .heading-card-info {
            width: 70%;
            padding: 0;
            display: flex;
            flex-direction: column;
            z-index: 2;


            .heading-card-title {
                color: white;
                width: 70%;
                padding: 0;
                font-size: 4.5vh;
                line-height: 60px;
                margin-top: 2%;
                margin-left: 14%;
                margin-right: 16%;
                margin-bottom: 2%;
                font-weight: 600;
                max-height: 80px;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .heading-card-description {
                color: white;
                width: 70%;
                font-size: 2vh;
                margin-top: 0;
                margin-left: 14%;
                margin-right: 16%;
                font-weight: 500;
                max-height: 100px;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .upload-link {
                width: 200px;
                height: 50px;
                margin-top: 2%;
                margin-left: 14%;
                cursor: pointer;
            }

            .upload-btn {
                margin-top: 2%;

                padding: 3%;
                border: "none";
                background-color: #44924C;
                color: white;
                width: 200px;
                height: 50px;
                max-width: 80%;
                max-height: 80%;
                border-radius: 10px;
                font-size: 1em;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: #24752d;
                }
            }
        }

        .heading-card-image {

            width: 30%;

            .bulb {
                width: 80%;
                margin-top: 5%;
                height: 80%;
                object-fit: cover;
            }

            z-index: 1;
        }

    }

    .waves {
        position: absolute;
        bottom: 0;
        right: 22%;
        background-image: url('./../../assets/waves.png');
        height: 250px;
        width: 1200px;
        background-repeat: no-repeat;
        z-index: 0;
    }
