.heading-card-container {
    display: flex;
    width: 100%;
    height: 35vh;
    background-color: hsl(197, 100%, 14%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;

    .heading-card-info {
        width: 70%;
        padding: 0;
        display: flex;
        flex-direction: column;


        .heading-card-title {
            color: white;
            width: 70%;
            padding: 0;
            font-size: 5vh;
            line-height: 60px;
            margin-top: 2%;
            margin-left: 14%;
            margin-right: 16%;
            margin-bottom: 2%;
            font-weight: 600;
            max-height: 80px;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .heading-card-description {
            color: white;
            width: 70%;
            font-size: 2vh;
            margin-top: 0;
            margin-left: 14%;
            margin-right: 16%;
            font-weight: 500;
            max-height: 100px;
            overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
            
                &::-webkit-scrollbar {
                    display: none;
                }
        }
        .upload-link{
            width: 200px;
            margin-top: 2%;
            margin-left: 14%;
        }

        .upload-btn {
            margin-top: 2%;
            
            padding: "10px";
            border: "none";
            background-color: #44924C;
            color: white;
            width: 200px;
            height: 50px;
            min-width: fit-content;
            max-width: 300px;
            border-radius: 10px;
            font-size: 1em;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                background-color: #24752d;
            }
        }
    }

    .heading-card-image {
        
        width: 30%;

        .bulb {
            width: 80%;
            margin-top: 5%;
            height: 80%;
            object-fit: cover;
        }
    }

}