.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 7vh;
    background-color: #fff;
    z-index: 100;

    .logo {
        margin-left: 10rem;
        cursor: pointer;
    }
}

